<div class="sidebar">
  <div class="sidebar-inner-index">
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
  </div>
</div>

<div id="hero">
  <div class="inner">
    <div class="left">
      <img class="hero-logo" src="<%- url_for("/images/logo-big.png") %>" alt="vue logo">
    </div><div class="right">
      <h2 class="vue">APIJSON</h2>
      <h1>
        自动化接口和文档<br>JSON 协议 与 ORM 库
      </h1>
      <p>
        <a id="modal-player" class="button has-icon" href="https://github.com/Tencent/APIJSON/wiki" target="_blank">
        <!--<a class="button has-icon" href="https://github.com/Tencent/APIJSON/wiki" target="_blank">-->
          <%- partial('icons/play') %>
          WHY APIJSON?</a>
        <a class="button white" href="<%- url_for("https://vincentcheng.github.io/apijson-doc/zh/") %>" target="_blank">立即开始</a>
        <a class="button gray has-icon" href="https://github.com/Tencent/APIJSON" target="_blank">
          <%- partial('icons/github-dark') %>
          GITHUB</a>
      </p>
    </div>
  </div>
</div>


<div id="special-sponsor">
  <p align="center" style="margin-top: 0px;padding-top: 40px;padding-left: 12px;padding-right: 12px">🏆码云最有价值开源项目<br />🚀后端接口和文档自动化，前端(客户端) 定制返回 JSON 的数据和结构！</p>
  <!--<a class="become-backer" style="margin-top: 0px" href="https://github.com/Tencent/APIJSON">-->
  <!--右上角点 ⭐Star 支持-->
  <!--</a>-->
  <!--<a class="become-backer" style="margin-top: 0px;width: 100px" href="http://apijson.org/auto" target="_blank">-->
    <!--在线测试-->
  <!--</a>-->
</div>

<div id="highlights">
  <div class="inner">
    <div class="point">
      <h2>对于前端</h2>
      <p>
        不用再向后端开发同事催接口、求文档<br>
        前端能完全定制数据和结构，要啥有啥<br>
        调用接口看请求知结果，所求即所得<br>
        可以一次性获取任何数据、任何结构<br>
        能够去除重复数据，节省流量提高速度<br>
      </p>
    </div>

    <div class="point">
      <h2>接口工具</h2>
      <p>
        自动生成接口文档，清晰可读永远最新<br>
        自动校验与格式化，支持高亮和收展<br>
        自动生成各种语言的代码，一键下载<br>
        自动管理与测试接口用例，一键共享<br>
        自动给请求JSON加上注释，一键切换<br>
      </p>
    </div>

    <div class="point">
      <h2>对于后端</h2>
      <p>
        提供通用接口，大部分API不用再写<br>
        自动生成文档，不用再编写和维护<br>
        自动管理权限和版本、自动防SQL注入<br>
        开放API无需划分版本，始终保持兼容<br>
        支持增删改查、模糊搜索、正则匹配等<br>
      </p>
    </div>
  </div>
</div>

<!-- TODO 加入 APIJSON GIF 演示轮播图，自动轮播组件可用上面的 special-sponsor -->
<!--<div id="special-sponsor">-->
  <!--<h3>特别赞助</h3>-->
  <!--< %_ for (const sponsor of theme.platinum_sponsors_china) { _% >-->
  <!--<a href="< %- sponsor.url % >" target="_blank">-->
    <!--<img src="< %- url_for(`/images/${sponsor.img}`) % >" style="width:200px">-->
  <!--</a>-->
  <!--< %_ } _% >-->
  <!--< %_if (theme.platinum_sponsors_china.length < 2) { _% >-->
  <!--<br>-->
  <!--<a class="become-backer" href="/support-vuejs/#special-sponsor-china">-->
    <!--在线体验-->
  <!--</a>-->
  <!--< %_} _% >-->
<!--</div>-->


<div id="news" style="background-color: #f6f6f6">
  <div class="inner">
    <img src="<%- url_for("/images/functions/APIJSON_Auto_get.jpg") %>" style="width: 80%;margin-top: 20px">
    <p>
      多表关联查询、结构自由组合、多个测试账号、一键共享测试用例
    </p>
  </div>

  <!--<div style="background-color: #ffffff;height: 20px;margin-bottom: 20px" ></div>-->

  <div class="inner">
    <img src="<%- url_for("/images/functions/APIJSON_Auto_code.jpg") %>" style="width: 80%;margin-top: 120px">
    <p>
      自动生成封装请求JSON的Android与iOS代码、一键自动生成JavaBean或解析Response的代码
    </p>
  </div>

  <!--<div style="background-color: #ffffff;height: 20px;margin-bottom: 20px" ></div>-->

  <div class="inner">
    <img src="<%- url_for("/images/functions/APIJSON_Auto_doc.jpg") %>" style="width: 80%;margin-top: 120px">
    <p>
      自动保存请求记录、自动生成接口文档，可添加常用请求、快捷查看一键恢复
    </p>
  </div>

  <div class="inner">
    <img src="<%- url_for("/images/functions/APIJSON_Auto_test.jpg") %>" style="width: 80%;margin-top: 120px">
    <p>
      一键自动接口回归测试，不需要写任何代码(注解、注释等全都不要)
    </p>
  </div>

   <div class="inner">
    <img src="<%- url_for("/images/functions/APIJSON_Auto_summary.jpg") %>" style="width: 80%;margin-top: 120px">
    <p>
      一图胜千言 - 部分基础功能概览
    </p>
  </div>

  <a class="become-sponsor button white" style="margin-top: 10px;padding-top: 10px;padding-bottom: 10px; font-size: 0.9em" href="http://apijson.org/auto" target="_blank">在线测试</a>

</div>

<img src="<%- url_for("/images/APIJSON_GVPAwardCertificate-small.jpg") %>" style="width: 100%;height: 100%;margin: 0px;padding: 0px">

<!-- 登录用户 和 贡献者 -->
<div id="sponsors">
  <div class="inner">
    <%- partial('partials/sponsors') %>
  </div>
</div>

<!--<div id="news">-->
<!--<div class="inner">-->
<!--<h3><label for="member_email">订阅我们的周刊 (英文)</label></h3>-->
<!--<form-->
<!--class="newsletter-form"-->
<!--id="revue-form"-->
<!--name="revue-form"-->
<!--target="_blank"-->
<!--action="https://www.getrevue.co/profile/vuenewsletter/add_subscriber"-->
<!--method="post"-->
<!--@submit="subscribe"-->
<!--&gt;-->
<!--<input-->
<!--class="newsletter-input"-->
<!--type="email"-->
<!--name="member[email]"-->
<!--id="member_email"-->
<!--required-->
<!--placeholder="邮件地址"-->
<!--&gt;-->
<!--<input-->
<!--class="button newsletter-button"-->
<!--type="submit"-->
<!--value="订阅"-->
<!--name="member[subscribe]"-->
<!--id="member_submit"-->
<!--&gt;-->
<!--</form>-->
<!--<p>-->
<!--你可以在 <a href="https://news.vuejs.org" target="_blank">news.vuejs.org</a> 翻阅往期的 issue，也可以收听 podcast。-->
<!--</p>-->
<!--</div>-->
<!--</div>-->

<div id="footer">
  <!--<p>-->
  <!--<a class="social-icon" href="https://github.com/vuejs/vue" target="_blank">-->
  <!--<%- partial('icons/github') %>-->
  <!--</a>-->
  <!--<a class="social-icon" href="https://twitter.com/vuejs" target="_blank">-->
  <!--<%- partial('icons/twitter') %>-->
  <!--</a>-->
  <!--<a class="social-icon" href="https://medium.com/the-vue-point" target="_blank">-->
  <!--<%- partial('icons/medium') %>-->
  <!--</a>-->
  <!--</p>-->
  <p>本站由 <a href="https://github.com/Tencent/APIJSON" target="_blank">APIJSON</a>, <a href="https://github.com/TommyLemon/APIAuto" target="_blank">APIAuto</a>, <a href="https://github.com/vincentCheng/apijson-doc" target="_blank">apijson-doc</a> 等提供技术支持</p>
  <p>遵循 <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache-2.0 开源协议</a><br>
    Copyright &copy; 2016-<%- new Date().getFullYear() %> Tommy Lemon</p>
</div>

<div id="video-modal" class="modal">
  <div class="video-space" style="padding: 56.25% 0 0 0; position: relative;"></div>
</div>

<script>
  (function () {
    var topScrolled = false
    var sponsors = document.getElementById('sponsors')
    var sponsorTop = sponsors.offsetTop
    var sponsorActive = false

    window.addEventListener('resize', function () {
      sponsorTop = sponsors.offsetTop
    })

    window.addEventListener('scroll', function () {
      if (window.pageYOffset > 165 && !topScrolled) {
        topScrolled = true
        document.getElementById('mobile-bar').classList.remove('top')
      } else if (window.pageYOffset <= 165 && topScrolled) {
        topScrolled = false
        document.getElementById('mobile-bar').classList.add('top')
      }
      if (window.pageYOffset > sponsorTop - 100) {
        if (!sponsorActive) {
          sponsorActive = true
          sponsors.classList.add('active')
        }
      } else {
        if (sponsorActive) {
          sponsorActive = false
          sponsors.classList.remove('active')
        }
      }
    })
  })()
</script>
